<p><a href="/bright_ideas">Bright Ideas</a> <a href="/sessions/destroy" data-method='delete'>Logout</a></p>


<h1>Name: <%=@user.name%></h1>
<h1>Alias: <%=@user.alias%></h1>
<h1>Email: <%=@user.email%></h1>



<h2>Total Number of Posts: <%=@user.posts.length%></h2>
<h2>Total Number of Likes: <%=@likes%></h2>