<%= stylesheet_link_tag "showUser.css" %>

<div id='wrapper'>
    <div id='logout'>
        <a href="/bright_ideas">Bright Ideas</a>
        <a href="/sessions/destroy" data-method='delete'>Logout</a>
    </div>

    <h1>Name: <%=@user.name%></h1>
    <h1>Alias: <%=@user.alias%></h1>
    <h1 id='email'>Email: <%=@user.email%></h1>



    <h2>Total Number of Posts: <%=@numPosts%></h2>
    <h2>Total Number of Likes: <%=@likes%></h2>
</div>