<%= stylesheet_link_tag "show.css" %>

<div id='wrapper'>

    <div id='logout'>
        <a href="/bright_ideas">Bright Ideas</a> 
        <a href="/sessions/destroy" data-method='delete'>Logout</a>
    </div>

    <div id='sec1'>
        <label> <a href="/users/<%=@session[:id]%>"><%=@post.user.name%></a> says:</label>
        <p><%=@post.idea%></p>
    </div>

    <h3>People who liked this post</h3>

    <% if @post.users.length > 0 %>
        <table>
            <tr>
                <th>Alias</th>
                <th>Name</th>
            </tr>
        <%  @post.users.uniq.each do |user| %>
            <% if user.id != session[:id] %>
                <tr>
                    <td> <a href="/users/<%=user.id%>"><%=user.alias%></a> </td>
                    <td><%=user.name%></td>
                </tr>
            <% end %>
        <% end %>
        </table>
    <% end %>

</div>